:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  --color-scheme: light dark;
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;

  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;

  --body-background-color: #f4f4f4;
  --container-background-color: #fff;
  --container-padding: 20px;
  --container-border-radius: 5px;
  --container-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --container-width: 300px;
}

body {
  font-family: var(--font-family);
  background-color: var(--body-background-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quick-Buttons {
  background: var(--container-background-color);
  border-radius: var(--container-border-radius);
  box-shadow: var(--container-box-shadow);
  width: 340px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.clear-Button {
  border: none;
  padding: 10px;
  background-color: #ff4d4d;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.clear-Button:hover {
  background-color: #e60000;
}

.container {
  background: var(--container-background-color);
  padding: var(--container-padding);
  border-radius: var(--container-border-radius);
  box-shadow: var(--container-box-shadow);
  width: var(--container-width);
}


h1 {
  text-align: center;
}
.todo-form {
  display: flex;
  justify-content: space-between;

  background: var(--container-background-color);
  border-radius: var(--container-border-radius);
  box-shadow: var(--container-box-shadow);
}
.todo-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-top-left-radius: var(--container-border-radius);
  border-bottom-left-radius: var(--container-border-radius);
}

.todo-form button {
  padding: 10px;
  border: none;
  background: #28a745;
  font-weight: 700;
  color: #fff;
  border-top-right-radius: var(--container-border-radius);
  border-bottom-right-radius: var(--container-border-radius);
  cursor: pointer;
}
.todo-form button:hover {
  background: #218838;
}

.todo-list {
  list-style: none;
  padding: 0;
}
.todo-item {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem 0;
  
  background: var(--container-background-color);
  border-radius: var(--container-border-radius);
  box-shadow: var(--container-box-shadow);
}

.todo-text {
  padding: 1rem;
}

.todo-item button {
  border: none;
  width: 50%;
  border: 1px solid #ddd;
  background-color: #c5c5c5;
  color: black;
  font-weight: 700;
  padding: 0.5rem;
  cursor: pointer;
}

.todo-item button:hover {
  background-color: #ff6c6c;

}

.todo-actions {
  background-color: #c5c5c5;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.input-error {
  border: 2px solid red;
  background-color: #ffe6e6;
}

#error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  display: none;
}

.completed {
  color: green;
  background-color: rgba(0, 255, 0, 0.233);
  border-radius: var(--container-border-radius);
  padding: 1rem 8.5rem 1rem 8.5rem; 
}